<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>   <!-- <h1>Your Pragmatic Catalog</h1> Iteration J2 (Chapter 15.2, p. 218) -->

<% cache ['store', Product.latest] do %>	<!-- Iteration C5: Caching of Partial Results (p. 105) -->
  <% @products.each do |product| %>
  <% cache ['entry', product] do %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %></span>	<!-- UebungWaehrungsHelper (Kap. 8: Rails Controller und Functional Tests) -->
        <!-- <%= button_to 'Add to Cart', line_items_path(product_id: product) %> <!-- Iteration D3 -->  <!-- Iteration F2 (Chapter 11.2, p. 143) -->
        <%= button_to t('.add_html'), line_items_path(product_id: product), remote: true %>
      </div>
      </div>
    <% end %>
  <% end %>
<% end %>