<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>Pragprog Books Online Store</title>
<!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class='<%= controller.controller_name %>'>  <!-- Iteration A2 (page 71) -->
<!-- START_HIGHLIGHT -->
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
      <!-- <div id="cart">           <!-- Iteration F1, Chapter 11.1, p. 139 -->
      <!-- START:hidden_div -->
      <% if @cart %>      <!-- Iteration F6 (Chapter 11.6, p. 155) -->
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>   <!-- Iteration F4, Chapter 11.4, p. 151 -->
          <%= render @cart %>
        <% end %>
      <% end %>
      <!-- END:hidden_div -->

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Questions</a></li>   <!-- http://www..../faq -->
        <li><a href="/">News</a></li>   <!-- http://www..../news -->
        <li><a href="/">Contact</a></li>   <!-- http://www..../news -->
      </ul>
    </div>
    <div id="main">
<!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
<!-- START_HIGHLIGHT -->
    </div>
  </div>
<!-- END_HIGHLIGHT -->
</body>
</html>
